<div class="header_section">
  <h1 class="tittle_section">VENTA</h1>
</div>
<div class="container_section">
  <div class="controls">
    <div class="group_controls cont_large">
      <label for="producto">Producto</label>
      <input type="text" name="producto" id="producto" />
    </div>
    <div class="group_controls cont_small">
      <label for="stock">Stock</label>
      <input type="text" name="stock" id="stock" />
    </div>
    <div class="group_controls cont_small">
      <label for="precio">Precio</label>
      <input type="text" name="precio" id="precio" />
    </div>
    <div class="group_controls cont_small">
      <label for="cantidad">Cantidad</label>
      <input type="text" name="cantidad" id="cantidad" />
    </div>
    <div class="group_controls">
      <button type="button" class="button" id="add_car">Agregar</button>
    </div>
  </div>
  <div class="cont_table">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody id="tb_venta">
        <tr>
          <td>#</td>
          <td class="t_left">Producto</td>
          <td>Precio</td>
          <td>Cantidad</td>
          <td>Total</td>
        </tr>
        <tr>
          <td>#</td>
          <td class="t_left">Producto</td>
          <td>Precio</td>
          <td>Cantidad</td>
          <td>Total</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="group_buttons">
    <button type="button" class="button">Guardar</button>
    <button type="button" class="button">Cancelar</button>
  </div>
</div>
<script>
  searchCompleteProductVenta();
</script>